@tailwind base;
@tailwind components;
@tailwind utilities;

body,
.basetext {
  @apply text-base;
}
h6,
.h6 {
  @apply text-lg;
}
h5,
.h5 {
  @apply text-xl;
}
h4,
.h4 {
  @apply text-2xl;
}
h3,
.h3 {
  @apply text-3xl;
}
h2,
.h2 {
  @apply text-4xl;
}
h1,
.h1 {
  @apply text-5xl;
}


*,
::before,
::after {
  margin: 0;
  padding: 0;
}





li {
  list-style: none;
}
a {
  text-decoration: none;
}
input,button {
  outline: none;
}

